[Unit]
Description=Helix Server Instance 1
Documentation=http://www.perforce.com/perforce/doc.current/manuals/p4sag/index.html
Requires=network.target network-online.target
After=network.target network-online.target

[Service]
Type=forking
TimeoutStartSec=60s
TimeoutStopSec=60s
ExecStart=/p4/1/bin/p4d_1_init start
ExecStop=/p4/1/bin/p4d_1_init stop
User=p4admin

[Install]
WantedBy=multi-user.target
